body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: white;
  color: #333;
}

.section {
  padding: 80px 0;
  text-align: left;
}

.section:nth-child(odd) {
  background-color: #f5f5f5;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.content {
  padding-top: 60px;
}

.twitter-profile a {
  display: inline-block;
  text-decoration: none;
  color: #1DA1F2;
  margin-top: 10px;
}

.twitter-profile img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.publication-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.publication-list .publication-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.publication-list .publication-content {
  flex: 1;
}

.publication-list .publication-image {
  width: 30%;
  margin-left: 20px;
  position: relative;
}

.publication-list .publication-image img {
  width: 40%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s;
}

.publication-list .publication-item:hover .publication-image img {
  opacity: 1;
}

.publication-year {
  display: block; /* Display the year on a new line */
  font-style: italic; /* Make it italic */
  margin-top: 5px; /* Adjust the spacing */
}
