body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
}

nav ul li a:hover {
  background-color: white;
  color: #333; /* Change text color when hovered */
}

.section {
  padding: 100px;
  text-align: left;
  margin-top: 120px;
}

.section:nth-child(odd) {
  background-color: #f5f5f5;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 50px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the header is above other content */
}

.content {
  /* Add some padding to create space below the fixed header */
  padding-top: 110px; /* Adjust this value as needed */
}

.twitter-profile a {
  display: inline-block;
  text-decoration: none;
  color: #1DA1F2; /* Twitter blue color */
  margin-top: 10px; /* Adjust the spacing as needed */
}

.twitter-profile img {
  vertical-align: middle;
  width: 30px; /* Adjust the size of the logo as needed */
  height: 30px;
  margin-right: 5px; /* Adjust the spacing between logo and handle */
}

.publication-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.publication-list li {
  margin-bottom: 20px;
  padding-left: 0;
}

.publication-list strong {
  font-weight: bold;
  display: block; /* Separate title and authors on different lines */
}

.publication-list .authors {
  font-weight: normal;
  display: block; /* Display authors on a new line */
  margin-top: 5px;
}

.publication-list .author-bold {
  font-weight: bold; /* Keep the bold authors inline */
  display: inline-block; /* Keep the bold authors inline */
  margin-right: 5px; /* Add spacing between bold and normal authors */
}
